/* 
TABLE OF CONTENT
1. General
2. Custom CSS
3. Sections
 */

/* 1. General */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* 2. Custom CSS */
:root {
    --primary-color: #AAAAAA;
    --secondary-color: ;
    /* Background Color */
    --bg-white: #ffffff;
    --bg-black: #000000;
    /* Text Color */
    --primary-text: #009846;
    --secondary-text: #2B2A29;
    /* Font Family */
    --primary-font: 'Rubik', 'sans-serif';
    --secondary-font: 'Lato';
}

/* 3. NavBar */

.navbar-wrapper .navbar-brand{
    height: auto;
    max-width: 10rem;
}


.navbar-wrapper .navbar-toggler:focus {
    box-shadow: none;
}

