/* 
TABLE OF CONTENT
1. General
2. Custom CSS
3. Sections
 */

/* 1. General */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* 2. Custom CSS */
:root {
    --primary-color: #EBECF1;
    --secondary-color: #646464;
    /* Background Color */
    --bg-white: #ffffff;
    --bg-black: #000000;
    --bg-grey-opc: #787878a6;
    /* Text Color */
    --primary-text: #206A5D;
    --secondary-text: #2B2A29;
    /* Font Family */
    --primary-font: 'Rubik', 'sans-serif';
    --secondary-font: 'Lato';
    --gradient: linear-gradient(to right, #1ebc9f 0%, #bbbbbb 100%), radial-gradient(circle at top left, #0055ff, #854fee);
}

/* 3. NavBar */

.navbar-wrapper .navbar-brand {
    height: auto;
    max-width: 10rem;
}


.navbar-wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.navbar-wrapper .navbar-content .nav-item a {
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0.985rem;
    color: var(--secondary-text);
    font-family: var(--primary-font);
    font-weight: 500;
}

.navbar-wrapper .navbar-content .nav-item #nav-bar.active,
.navbar-wrapper .navbar-content .nav-item #nav-bar:hover {
    color: var(--primary-text);
}

.navbar-content .dropdown-menu li a.active,
.navbar-content .dropdown-menu li a:hover {
    width: auto;
    color: var(--primary-text) !important;
    background-color: var(--primary-color) !important;
}

.navbar-wrapper .navbar {
    /* background-color: var(--primary-color); */
    background-image: var(--gradient);
    height: 3.875rem;
}

.navbar-wrapper .navbar .navbar-brand {
    margin-left: 2rem;
}

.navbar-wrapper .navbar .navbar-content {
    margin-right: 5rem;
}

/* Banner Section */
.home-wrapper{

    background-image: url(../img/cover-bg.jpg);
}

.home-wrapper #main-bg {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

@keyframes club-logo-zoom-in {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

.home-wrapper #main-bg #tech-ops-logo {
    /* transform: scale(1); */
    animation: club-logo-zoom-in  ease-in-out 1s 1 normal;
}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

.home-wrapper .dept-text h2 {
    text-transform: uppercase;
    font-family: var(--primary-font);
    border-right: .35rem solid orange;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    text-shadow: 10px 5px 5px var(--bg-grey-opc);
}