/* 
TABLE OF CONTENT
1. General
2. Custom CSS
3. Navbar section
4. Banner section
5. Playground section
6. TechNews section
7. Footer section
 */

/* 1. General */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* 2. Custom CSS */
:root {
    --primary-color: #EBECF1;
    --secondary-color: #646464;
    /* Background Color */
    --bg-white: #ffffff;
    --bg-black: #000000;
    --bg-grey: #606060;
    --bg-grey-opc: #787878a6;
    /* Text Color */
    --primary-text: #206A5D;
    --secondary-text: #2B2A29;
    /* Font Family */
    --primary-font: 'Rubik', 'sans-serif';
    --secondary-font: 'Lato';
    --bold-font: 'Lilita One';
    --gradient: linear-gradient(to right, #1ebc9f 0%, #bbbbbb 100%), radial-gradient(circle at top left, #0055ff, #854fee);
}


a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    background: var(--bg-grey);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

.main-btn {
    display: inline-block;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 2.875rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.3125rem;
    box-shadow: 0 0.625rem 1.875rem rgba(85, 225, 129, 0.3);
    border: double 0.125rem transparent;
    padding: 0 0.625rem;
    transition: all .3s ease-in-out;
}

.primary-btn {
    background-image: var(--gradient);
    color: var(--bg-white);
}

.primary-btn:hover {
    border-color: var(--secondary-color);
    background: var(--bg-white);
    color: var(--secondary-text);
    box-shadow: none;
}

.secondary-btn {
    background-image: var(--bg-white);
    color: var(--secondary-text);
    border-color: var(--secondary-color);
}

.secondary-btn:hover {
    background: var(--gradient);
    color: var(--bg-white);
    box-shadow: none;
}

section {
    padding: 5rem 0;
}


/* 3. NavBar */

.navbar-wrapper .navbar-brand {
    height: auto;
    max-width: 10rem;
}


.navbar-wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.navbar-wrapper .navbar-content .nav-item a {
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0.985rem;
    color: var(--secondary-text);
    font-family: var(--primary-font);
    font-weight: 500;
}

.navbar-wrapper .navbar-content .nav-item #nav-bar.active,
.navbar-wrapper .navbar-content .nav-item #nav-bar:hover {
    color: var(--primary-text);
}

.navbar-content .dropdown-menu li a.active,
.navbar-content .dropdown-menu li a:hover {
    width: auto;
    color: var(--primary-text) !important;
    background-color: var(--primary-color) !important;
}

.navbar-wrapper {
    background-image: var(--gradient);
}

.navbar-wrapper .navbar .navbar-brand {
    margin-left: 2rem;
}

.navbar-wrapper .navbar .navbar-content {
    margin-right: 5rem;
}

/* Banner Section */
.home-wrapper {
    background-image: url(../img/cover-bg.png);
}

.home-wrapper #main-bg {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

@keyframes club-logo-zoom-in {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

.home-wrapper #main-bg #tech-ops-logo {
    /* transform: scale(1); */
    animation: club-logo-zoom-in ease-in-out 1s 1 normal;
}

/* {
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

.home-wrapper .dept-text h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-family: var(--primary-font);
    border-right: .35rem solid orange;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .215rem;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    text-shadow: 10px 5px 5px var(--bg-grey-opc);
}
} */

.home-wrapper #main-bg .dept-text span {
    font-family: var(--primary-font);
    text-transform: uppercase;
    text-align: left;
}

@keyframes join-btn-zoom-in {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.home-wrapper .join-btn {
    animation: join-btn-zoom-in ease-in-out 0.5s infinite alternate;
}

/* Playground Section */
.events-header .intro {
    font-family: var(--primary-font);
    font-weight: 100;
    font-size: 1.85rem;
}

.events-header h1 {
    font-family: var(--primary-font);
    font-weight: 500;
    text-transform: capitalize;
}

.playground-wrapper .recurring-events #friday {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;
}

.playground-wrapper .recurring-events .content {
    padding: 2rem;
    font-family: var(--primary-font);
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--bg-grey-opc);
}

.playground-wrapper .recurring-events .content #info {
    margin: 0;
}

/* Technews section */

.technews-wrapper #tech-header{
    font-family: var(--bold-font);
    text-decoration: underline;
    text-shadow: 0.5rem -.5rem 0.5rem var(--bg-grey-opc);
}

.technews-wrapper .tech-section .card-holder .mycard{
    display: flex;
    justify-content: center;
}

/* Footer section */
.footer-wrapper{
    width: 100%;
    height: auto;
    background-color: var(--bg-grey-opc);
}

.footer-wrapper .footer-content img{
    height: 2rem;
}

.footer-wrapper .footer-content #dept{
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(55, 55, 55);
}

.footer-wrapper #pramod{
    margin-top: 2rem;
    font-family: var(--bold-font);
}

.footer-wrapper #pramod span{
    font-family: var(--primary-font);
    text-transform: uppercase;
}

.footer-wrapper .footer-content #copy{
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 1rem;
}

.footer-wrapper .connect-us p{
    font-family: var(--primary-font);
}

.footer-wrapper .connect-us .icons a{
    color: rgb(55, 55, 55);
    font-size: 2rem;
    letter-spacing: 1rem;
    text-shadow: 0.5rem 0.5rem 0.5rem var(--bg-grey);
}